<!DOCTYPE html>

<html>
<head>
    <title>Chat</title>
</head>
<body>
<h1>HI</h1>
<img id="image"/>

<script>
    let currentLocation = window.location;
    let camIdx = currentLocation.href.split("/")[3];

    let ws = new WebSocket(`ws://localhost:8080/ws/client/${camIdx}`);
    console.log(`ws://localhost:8080/ws/client/${camIdx}`)
    ws.onmessage = function (event) {
        var urlCreator = window.URL || window.webkitURL;
        var imageUrl = urlCreator.createObjectURL(event.data);
        document.querySelector("#image").src = imageUrl;
    };


</script>
</body>
</html>